.side_bar
  .header
    .header_box
      .header_box--name
        name
      %header_box__icons
        = link_to "#", class: "header_btn header_btn-edit" do
          <i class='far fa-edit'></i>
        = link_to "#", class: "header_btn header_btn-setting" do
          <i class="fas fa-cog"></i>
    
    
  .group_list
    .group
      .group_name
        name
      .group_least-message
        message
    .group
      .group_name
        name
      .group_least-message
        message

